@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-fig-sans);
    --color-baseclr: #22c55e;
    --color-yellowclr: #ffcd05;
    --color-darkclr: #2b2d3b;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}

@layer base {
    .container {
        @apply mx-auto px-6 max-lg:!max-w-full;
    }
    .react-tel-input .flag-dropdown {
        @apply !border-none !bg-transparent !pl-2;
    }
    .react-tel-input .selected-flag {
        @apply hover:!bg-transparent;
    }
    .react-tel-input .flag-dropdown.open .selected-flag {
        @apply !bg-transparent;
    }
}
